@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    box-sizing: border-box;
    /* hack para trabajar con rems:*/
    font-size: 62.5%; /*esto hace igual a 1rem = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}


/**globales**/
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    /* interlineado: se recomienda 2 */
    line-height: 2;
}

h1, h2 , h3{
    font-family: 'Playfair Display', serif;
    /* estilo para eleiminar el que por defecto se pone
    en naraja*/
    margin: 0 0 5rem 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}
a{
    /* evita subrayado en todos los enlaces */
    text-decoration: none;
    color: #000;
}

img{
    max-width: 100%;
    display: block;
}

.contenedor{
    /* toma los 1200 totales y lo que sobre */
    /* por lado y lado lo deja para el nav */
    /* asi se centra el contendido */
    max-width: 120rem;
    margin: 0 auto;
    /*tambien valido pero es nueva */
    /*margin-inline: auto;*/
}

.listado-categorias{
    display: grid;
    /* valido 1: */
    /* grid-template-columns: 200px 200px 200px 200px;*/
    /* valido 2: */
    /* grid-template-columns: repeat(4, 200px); */
    /* con fr: se crean 2 columnas , una de 3 porciones y la oiptra de 1
    grid-template-columns: 3fr 1fr;*/
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(2, 100px);*/
    gap: 2rem;
}

.categorias{
    padding-top: 5rem;
}

.categorias h2{
    text-align: center;
}

.categoria a{
    /*por defecto no sirve porque
    hipervinculo tiene display inline
     */
    text-align: center;
    /*
    pero se puede cambiar a display:block
     */
    display: block;
    /* los titulos deben tener el mismo espacio arriba y abajo */
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: #037bc0;
    color: #FFF;
    border-bottom-right-radius: 1rem;
}



/** header y navegacion **/
header{
    font-size: 3rem;
}

.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion{
    /*la linea de navegacion ya no esta limitada por
    la clase contenedor al estar en el div de afuera
     */
    border-top: #e1e1e1 solid .1rem;
}


.nav-principal{
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.hero{
    background-image: url("../img/principal.jpg");
    height: 55rem;
    background-repeat: no-repeat;
    background-size: cover;
    /* determina la zona de la imagen a mostrar*/
    background-position: 1px 1px;


}

/* bloque nosotros*/
.sobre-nosotros{
    /*background-image: linear-gradient(to right,
                                      black 10% ,
                                        red 100%);*/
    background-image: linear-gradient(to right,
                                        transparent 50%,
                                        #037bc0 50% ,
                                        #037bc0 100% )
                                        , url(../img/nosotros.jpg);
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% , 120rem;
}
